[Desktop Entry]
Version=1.0
Type=Application
Name=Tricked mod installer
Icon=argoninstaller
Exec=argoninstaller %u
StartupWMClass=argoninstaller
Categories=Utility;
Keywords=argon,modinstaller,mods,minecraft,argoninstaller;